body {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5 {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5 {
    font-size: 18px;
}
.header .logo {
    margin: 10px 0;
    height: 80px;
}
.header .login {
    margin-top: 4px;
    padding-top: 30px;
    text-align: right;
    float: right;
}
.header .login .button {
    font-size: 12px;
    float: right;
}
@media screen and (max-width: 540px) { /* Specific to this particular image */
    .header .login {
        display: none;
    }
}
.full-width-container {
    width: 90%;
    max-width: 90%;
    clear: both;
    margin: 0 auto;
}

.fancybox-content {
    background: #333;
    color: white;
    height: 100vh;
    width: 100vw;
}
.ipfs-image.full-width-container,
.ipfs-image.full-width-container .row {
    background: #333;
    text-align: left;
}
.row .main-obj.twelve  img {
    position: relative;
    max-width: 100%;
    max-height: 80vh;
}
.row .main-obj.one-half img {
    position: relative;
    height: auto;
    max-width: 100%;
    max-height: 90vh;
}
.row .explainer {
    text-align: center;
    font-size: 12px;
    background: #333;
    font-family: "Courier 10 Pitch", Courier, monospace;
    padding: 0;
    margin: 0;
}
.row .explainer h1 {
    padding-top: 20px;
    font-size: 20px;
    background: #333;
}
.row .explainer h3 {
    font-size: 16px;
    background: #333;
}

.row .explainer code {
    min-height: 5vh;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    line-height: 180%;
    /*white-space: pre;*/
    /*white-space: pre-wrap;*/
    /*white-space: -moz-pre-wrap;*/
    /*white-space: -o-pre-wrap;*/
    background: #444;
    display: block;
    padding: 2em 2em;
    margin: 2em 1em;
    border: 1px solid #777;
    text-align: left;
    overflow: scroll;
}
.row .explainer a {
    color: lightskyblue;
}
.row .explainer .highlight {
    color: lightskyblue;
}

.portfolio img{display:block;margin:auto}

.footer {
    margin-top: 25px;
    height: 118px;
    padding-top: 100px;
    background-color: #0065ff;
    color: white;
    text-align: center;
}


.gallery {
    -ms-column-count: 4;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}
@media (max-width: 1800px) {
    .gallery {
        -ms-column-count: 3;
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}
@media (max-width: 1200px) {
    .gallery {
        -ms-column-count: 2;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
}
@media (max-width: 600px) {
    .gallery {
        -ms-column-count: 1;
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}
.gallery img{ width: 100%; padding: 7px 0;}
